<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a> 
        <br>
		<h1>My About Page</h1>
		<h2>My Description</h2>
        <p>I am a boy, named Saad. I work as a software developer and I really love programming. I am willing to learn new technologies.
            I want to specialize in web development.
        </p>
	</body>
</html>
