<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro About</title>
		<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css">
	</head>
	<body>
        <nav class="bg-gray-800 p-4">
			<div class="container mx-auto flex justify-between items-center">
			  <div class="flex items-center">
				<a href="/" class="text-white font-bold text-xl">Antarctica</a>
			  </div>
			  <div class="hidden md:flex flex-grow items-center justify-center space-x-4">
				<a href="/" class="text-white">Home</a>
				<a href="/about/" class="text-white">About</a>
				<a href="#" class="text-white">Contact</a>
				<a href="/blog/" class="text-white">My Projects</a>
			  </div>
			</div>
		</nav>
		<h1>About me info here</h1>
		  <!-- Content of your website goes here -->
		
		  <script src="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.js"></script>
	</body>
</html>
